
#container {
	margin-left:auto;
	margin-right:auto;
    width: 100%;


   
    background-color: #ffffff;

    min-height:100%;
    position:relative;
	

}
.mainbody,
.header,
.footer {
    padding: 5px;
	margin-left:auto;
	margin-right:auto;
	width:100%;


}
.mainbody {
	margin-left:auto;
	margin-right:auto;
	

    margin-top: 0;
    min-height: 150px;
    max-height: 100%;
    overflow: auto;
	padding-bottom:80px;
}
.header {
	text-align:center;

    height: 40px;
    border-bottom: 1px solid #EEE;
    background-color: #ffffff;

}

.footer {

	text-align:center;

    height: 80px;
    background-color: whiteSmoke;
    border-top: 1px solid #DDD;
	position:absolute;
	bottom:0;
	left:0;
   
}
.heat{
	margin-left:auto;
	margin-right:auto;
	width: 500px;
	max-width:100%;

}

select{
	width:200px;
}